<div nz-row>
  <div nz-col [nzSpan]="7" style="background-color:black;height:60px">
      <div nz-col [nzSpan]="4" style="background-color:yellow;height:60px">
        <img src="../assets/img/header/logo.png" alt="logo">
      </div>
      <div nz-col [nzSpan]="20" style="background-color:pink;height:60px">
      
      </div>
  </div>
  <div nz-col [nzSpan]="12" style="background-color:blue;height:60px">
    col-12
  </div>
  <div nz-col [nzSpan]="5" style="background-color:rgb(238, 53, 53);height:60px">
    col-5
  </div>
</div>