.tag {
  border: 5px solid #09F;
  position: relative;
}
.tag .em-style {
  display: block;
  border-width: 20px;
  position: absolute;
  font-size: 0;
  line-height: 0;
}
.tag .left-top {
  border-style: dashed dashed solid;
  border-color: transparent transparent #09F;
  top: -40px;
  left: 40px;
}
.tag .right-top {
  border-style: dashed dashed solid;
  border-color: transparent transparent #09F;
  top: -40px;
  right: 40px;
}
.tag .left-bottom {
  border-color: #09F transparent transparent;
  border-style: solid dashed dashed;
  bottom: -40px;
  left: 10%;
}
.tag .right-bottom {
  border-color: #09F transparent transparent;
  border-style: solid dashed dashed;
  bottom: -40px;
  right: 10%;
}
.tag .span-style {
  display: block;
  border-width: 20px;
  position: absolute;
  font-size: 0;
  line-height: 0;
}
.tag .span-left-top {
  border-color: transparent transparent rgba(63, 54, 45, 0.9);
  border-style: dashed solid dashed;
  left: 40px;
  top: -37px;
}
.tag .span-right-top {
  border-color: transparent transparent rgba(63, 54, 45, 0.9);
  border-style: dashed solid dashed;
  right: 40px;
  top: -37px;
}
.tag .span-left-bottom {
  border-color: rgba(63, 54, 45, 0.9) transparent transparent;
  border-style: solid dashed dashed;
  bottom: -37px;
  left: 10%;
}
.tag .span-right-bottom {
  border-color: rgba(63, 54, 45, 0.9) transparent transparent;
  border-style: solid dashed dashed;
  bottom: -37px;
  right: 10%;
}
.alert_window {
  position: absolute;
  top: 200px;
  left: 100px;
  width: 35%;
  border: 2px solid #09F;
  background: rgba(63, 54, 45, 0.8);
  border-radius: 10px;
  z-index: 1000;
}
.alert_window .alert_title {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #09F;
  position: relative;
}
.alert_window .alert_title .title {
  padding-left: 10px;
  line-height: 35px;
  font-size: 14px;
  color: #ffffff;
}
.alert_window .alert_title .close-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
}
.alert_window .alert_content {
  width: 100%;
  border-bottom: 1px solid #09F;
  text-align: left;
}
.alert_window .alert_content .first-line {
  display: flex;
}
.alert_window .alert_content .first-line div {
  flex: 1;
  padding-top: 10px;
  padding-left: 10px;
}
.alert_window .alert_content .first-line div p {
  color: #ffffff;
  font-size: 12px;
}
.alert_window .alert_content .second-line {
  display: flex;
}
.alert_window .alert_content .second-line div {
  padding-top: 10px;
  padding-left: 10px;
  flex: 1;
}
.alert_window .alert_content .second-line div p {
  color: #ffffff;
  font-size: 12px;
}
.alert_window .alert_content .second-line div p .span-red {
  color: red;
}
.alert_window .alert_content .second-line div p .span-orange {
  color: orange;
}
.alert_window .alert_content .third-line {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.alert_window .alert_content .third-line p {
  color: #ffffff;
  font-size: 12px;
}
.alert_window .alert_tips {
  padding: 5px;
  display: flex;
}
.alert_window .alert_tips .img {
  flex: 1;
  border-right: 1px solid #09F;
  text-align: center;
}
.alert_window .alert_tips .img .icon-heart {
  width: 40px;
  height: 40px;
}
.alert_window .alert_tips .img .title {
  font-size: 12px;
  color: #ffffff;
}
.alert_window .alert_tips .tip {
  flex: 2;
  padding-top: 5px;
  padding-left: 10px;
}
.alert_window .alert_tips .tip .items .item {
  list-style: none;
  display: inline-block;
  color: #ffffff;
}
.alert_window .alert_tips .tip .items .item .dot .dot-orange {
  color: orange;
}
.alert_window .alert_tips .tip .items .item .dot .dot-red {
  color: red;
}
.alert_window .alert_tips .tip .items .item .dot .dot-yellow {
  color: yellow;
}
.alert_window .alert_tips .tip .items .item .dot .dot-green {
  color: green;
}
.alert_window .alert_tips .tip .items .item .dot .dot-purple {
  color: purple;
}
.alert_window .alert_tips .tip .items .item .dot .dot-light-green {
  color: #67cfc8;
}
