.modal {
    .modal-dialog {
        width: 900px !important;
        height: 600px !important;
        // background: #38414f;
        .modal-header {
            border: none !important;
            padding-bottom: 0 !important;    
            .close {
                color: #ffffff;
            }
        }
        .modal-content {
            background: -webkit-linear-gradient(RGB(0, 53, 82), RGB(0, 99, 160) 50%, RGB(0, 53, 82) 100%); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(RGB(0, 53, 82), RGB(0, 99, 160) 50%, RGB(0, 53, 82) 100%); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(RGB(0, 53, 82), RGB(0, 99, 160) 50%, RGB(0, 53, 82) 100%); /* Firefox 3.6 - 15 */
            background: linear-gradient(RGB(0, 53, 82), RGB(0, 99, 160) 50%, RGB(0, 53, 82) 100%); /* 标准的语法（必须放在最后） */
            .modal-body {
                // background: #38414f;                                            
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                    height: 0;
                    visibility: hidden;
                }
                .left {
                    // width: calc(~'50% - 15px') !important;                    
                    display: inline-block;
                    float: left;
                    // border-right: 1px solid #38414f;
                }
                .right {
                    width: calc(~'100% - 575px');
                    display: inline-block;
                    float: right;
                    .list {
                        padding-left: 20px;
                        margin: 0 auto;
                        .item {
                            margin-bottom: 10px;
                            margin-right: 5px;
                            line-height: 50px;
                            text-align: center;
                            font-size: 14px;
                            color: #ffffff;
                            display: inline-block;
                            list-style: none;
                            width: 50px;
                            height: 50px;
                            // background: #7c7e81;
                            border: 1px solid #ffffff;
                            -moz-border-radius: 50px;
                            -webkit-border-radius: 50px;
                            border-radius: 50px;
                        }
                        .item-active {
                            color: black;
                            background: RGB(0, 255, 27);                            
                        }
                    }
                }
            }
        }
    }
}