.modal .modal-dialog {
  width: 1000px !important;
}
.modal .modal-dialog .modal-header {
  border: none !important;
  padding-bottom: 0 !important;
}
.modal .modal-dialog .modal-header .close {
  color: #ffffff;
}
.modal .modal-dialog .modal-content {
  background: -webkit-linear-gradient(#003552, #0063a0 50%, #003552 100%);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#003552, #0063a0 50%, #003552 100%);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#003552, #0063a0 50%, #003552 100%);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(#003552, #0063a0 50%, #003552 100%);
  /* 标准的语法（必须放在最后） */
}
.modal .modal-dialog .modal-content .modal-body::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.modal .modal-dialog .modal-content .modal-body .left {
  display: inline-block;
  float: left;
}
.modal .modal-dialog .modal-content .modal-body .right {
  width: calc(100% - 715px);
  display: inline-block;
  float: right;
}
.modal .modal-dialog .modal-content .modal-body .right .list .item {
  margin-bottom: 10px;
  margin-right: 5px;
  line-height: 50px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  list-style: none;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.modal .modal-dialog .modal-content .modal-body .right .list .item-active {
  color: black;
  background: #00ff1b;
}
