html,
body {
  height: 100%;
  position: relative;
  font-family: "Microsoft YaHei" !important;
}
.link-active {
  color: #fff900;
}
.link-active-bg {
  opacity: 0.8;
}
.clearfloat {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  position: relative;
}
.container .row-head {
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.container .row-head .wrapper-head {
  height: 48px;
}
.container .row-head .wrapper-head .head {
  background-color: black;
  height: 48px;
}
.container .row-head .wrapper-head .head .title {
  height: 48px;
}
.container .row-head .wrapper-head .head .account1 {
  height: 48px;
  display: flex;
  align-items: center;
}
.container .row-head .wrapper-head .head .account1 .login-wrapper {
  width: 60px;
  padding-right: 20px;
  border-left: 2px solid #ffffff;
  text-align: right;
}
.container .row-head .wrapper-head .head .account1 .name-wrapper {
  flex: 1;
  display: inline-block;
  text-align: right;
  padding-right: 20px;
  margin-bottom: 10px;
}
.container .row-head .wrapper-head .head .account1 .name-wrapper .avatar {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: -6px;
  margin-right: 10px;
}
.container .row-head .wrapper-head .head .account1 .account-img {
  width: 24px;
  height: 24px;
}
.container .row-head .wrapper-head .head .account1 .login {
  width: 24px;
  height: 24px;
  text-align: center;
  color: #ffffff;
}
.container .row-head .wrapper-head .head .account1 .name {
  font-size: 14px;
  color: #ffffff;
}
.container .row-head .wrapper-head .head #header {
  width: 100%;
  height: 48px;
  padding-left: 20px;
  display: inline-block;
}
.container .row-head .wrapper-head .head #header .title {
  font-size: 22px;
  font-weight: 700;
  display: inline-block;
  height: 48px;
  padding-left: 64px;
  color: #ffffff;
  text-decoration: none;
  line-height: 48px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 10%;
}
.container .row-head .wrapper-head .head #header .logo {
  display: inline-block;
  height: 48px;
  padding-left: 64px;
  color: #ffffff;
  text-decoration: none;
  line-height: 60px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 10%;
}
.container .time {
  padding-bottom: 0;
  background: #13160c;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  position: absolute;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 999;
}
.container .time .link-img {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -12px;
  margin-right: 15px;
}
.container .time .link-img img {
  width: 24px;
  height: 24px;
}
.container .middle {
  padding: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.container .middle .left {
  position: absolute;
  left: 0;
  top: 10%;
  z-index: 999;
  padding-left: 10px;
}
.container .middle .left .list-wrapper {
  width: 60%;
}
.container .middle .left .con_left .erji {
  display: block !important;
  width: 120px;
  height: 245px;
  border: 1px solid #72adbb;
  border-radius: 9px;
}
.container .middle .left .con_left .erji li {
  color: #fff;
  font-size: 13px;
  height: 35px;
  /*padding-left: 20px;*/
  line-height: 35px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.container .middle .left .con_left .erji li:nth-child(1) {
  border-radius: 9px 9px 0px 0px;
  color: yellow;
  background: rgba(0, 0, 0, 0.9);
}
.container .middle .left .con_left .erji li:hover {
  color: yellow;
}
.container .middle .left .con_left .erji li:nth-child(7) {
  border: none;
  border-radius: 0px 0px 9px 9px;
}
.container .middle .left .con_left .tuli {
  color: #fff;
  margin-top: 10% !important;
  width: 120px;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  text-align: left;
  border: 1px solid #72adbb;
  border-radius: 9px;
}
.container .middle .left .con_left .tuli p {
  text-align: center;
  font-size: 12px;
  padding-top: 10px;
  letter-spacing: 4px;
}
.container .middle .left .con_left .tuli li {
  font-size: 12px;
  vertical-align: middle;
  padding-top: 10px;
  padding-left: 10px;
}
.container .middle .left .con_left .tuli span {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 8%;
}
.container .middle .left .con_left .tuli li:nth-child(2) span {
  background: red;
}
.container .middle .left .con_left .tuli li:nth-child(3) span {
  background: #ffed00;
}
.container .middle .left .con_left .tuli li:nth-child(4) span {
  background: yellow;
}
.container .middle .left .con_left .tuli li:nth-child(5) span {
  background: blue;
}
.container .middle .left .tip {
  width: 60%;
  font-size: 14px;
  padding: 0;
  margin-top: 10px;
  text-align: left;
  border: 1px solid #89bfd5;
  background: rgba(63, 54, 45, 0.8);
  color: #ffffff;
}
.container .middle .left .tip .title {
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.container .middle .left .tip .list {
  display: block;
}
.container .middle .left .tip .list li .dot {
  text-align: left;
  padding: 0 10px 10px 10px;
  color: #ffffff;
  font-size: 12px;
}
.container .middle .left .tip .list li .dot .dot-style {
  font-size: 24px;
  line-height: 24px;
  vertical-align: middle;
}
.container .middle .left .tip .list li .dot .text-style {
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  vertical-align: middle;
}
.container .middle .left .tip .list li .dot .dot-red {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  color: red;
}
.container .middle .left .tip .list li .dot .dot-orange {
  color: orange;
}
.container .middle .left .tip .list li .dot .dot-yellow {
  display: inline-block;
  font-size: 24px;
  line-height: 24px;
  color: yellow;
}
.container .middle .left .tip .list li .dot .dot-blue {
  color: blue;
}
.container .middle .center {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 999;
  text-align: center;
  margin: auto;
}
.container .middle .center .tabs .col-md-12 .yijibaioti {
  height: 100px;
  text-align: center;
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul {
  width: 840px;
  margin: 0px auto !important;
  display: flex !important;
  margin-top: 10px !important;
  justify-content: space-around;
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul li {
  margin: 0px !important;
  width: 110px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  border: 2px solid #fff;
  list-style: none;
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul li:nth-child(1) {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid yellow;
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul li:nth-child(1) p {
  color: yellow;
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul li:hover {
  background: rgba(0, 0, 0, 0.8);
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul li:hover p {
  color: yellow;
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul li img {
  width: 20px;
  height: 20px;
  margin-top: 7px;
}
.container .middle .center .tabs .col-md-12 .yijibaioti-ul li p {
  text-align: center;
  font-size: 15px;
  color: #fff;
}
.container .middle .center .tips .ull {
  font-size: 0;
  margin: 0 auto;
  margin-top: 20px;
}
.container .middle .center .tips .ull li {
  text-align: center;
  font-size: 12px;
  display: inline-block;
  min-width: 200px;
  letter-spacing: 2px;
  color: #ffffff;
}
.container .middle .center .tips .ull li .bg-deep {
  line-height: 30px;
  background-color: rgba(6, 8, 3, 0.8);
  border: 1px solid #77726c;
}
.container .middle .center .tips .ull li .bg-light {
  line-height: 30px;
  background-color: rgba(30, 43, 33, 0.65);
  border: 1px solid #77726c;
}
.container .middle .center .tips .ull li .purple {
  color: #ff8300;
  font-weight: bold;
}
.container .middle .center .tips .ull li .pink {
  color: #fff900;
  font-weight: bold;
}
.container .middle .center .tips .ull li .green {
  color: #f91c0f;
  font-weight: bold;
}
.container .middle .center .tips .ull li .yellow {
  color: #42f942;
  font-weight: bold;
}
.container .middle .right {
  position: absolute;
  top: 10%;
  right: 10px;
  z-index: 999;
  padding-top: 5px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  background-color: rgba(12, 14, 9, 0.8);
  border: 1px solid #72adbb;
  border-radius: 5px;
  /*向右*/
}
.container .middle .right .left_hidden {
  position: absolute;
  top: 47%;
  left: 0;
  z-index: 10;
  width: 10%;
  height: 10%;
  cursor: pointer;
  margin-left: 10px;
}
.container .middle .right .left_show {
  position: absolute;
  top: 47%;
  left: 108%;
  z-index: 10;
  width: 14%;
  height: 8%;
  border-radius: 50%;
  cursor: pointer;
}
.container .middle .right .left_hidden img,
.container .middle .right .left_show img {
  width: 8px;
  height: 17px;
}
.container .middle .right .shuxian {
  position: absolute;
  top: 178px;
  left: 22px;
  z-index: 10;
  width: 180px;
  border-bottom: 1px solid #324331;
}
.container .middle .right .triangle_border_right {
  width: 0;
  height: 0;
  border-width: 12px 0 12px 12px;
  border-style: solid;
  border-color: transparent transparent transparent #aba8a8;
  /*透明 透明 透明 灰*/
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -15px;
  cursor: pointer;
}
.container .middle .right #mainContainer1 {
  padding: 0;
}
.container .middle .right #mainContainer2 {
  padding: 0;
  padding-top: 5px;
}
.container .middle .right ul {
  display: inline-block;
}
.container .middle .right ul li {
  list-style: none;
}
.container .middle:after {
  display: block;
  content: '';
  visibility: hidden;
  height: 0;
  clear: both;
}
.container .bottom {
  position: absolute;
  left: 25px;
  right: 25px;
  bottom: 2px;
  z-index: 999;
  padding-bottom: 10px;
  background: rgba(12, 14, 9, 0.5);
  border: 1px solid #72adbb;
  border-radius: 5px;
  /*向下*/
}
.container .bottom .a-btn-down {
  padding: 0 15px 0;
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 auto;
}
.container .bottom .triangle_border_down {
  width: 0;
  height: 0;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #aba8a8 transparent transparent;
  /*灰 透明 透明 */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -14px;
  margin-top: 5px;
}
.container .bottom .bottom_hidden {
  width: 3%;
  height: 20px;
  position: relative;
  left: 49%;
  bottom: 0%;
  z-index: 10;
  cursor: pointer;
}
.container .bottom .bottom_show {
  position: absolute;
  top: 110%;
  left: 49%;
  z-index: 10;
  width: 2%;
  height: 15%;
  border-radius: 50%;
  cursor: pointer;
}
.container .bottom .change-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}
.container .bottom .change-icon .btn-change {
  border: none !important;
  background: rgba(30, 43, 33, 0.8);
  outline: none;
  padding: 0 8px 4px 8px;
}
.tdt-pane .tdt-infowindow .tdt-infowindow-close-button {
  top: 5px;
  right: 10px;
  padding: 8px 8px 0 0;
  z-index: 1000;
}
.tdt-pane .tdt-infowindow .tdt-infowindow-content-wrapper {
  background: rgba(30, 43, 33, 0.65);
  border-radius: 10px;
}
.tdt-pane .tdt-infowindow .tdt-infowindow-content-wrapper .tdt-infowindow-content {
  margin: 0;
  width: 400px !important;
}
.tdt-pane .tdt-infowindow .tdt-infowindow-content-wrapper .tdt-infowindow-tip-container {
  left: -50px;
}
.tdt-control-container .tdt-bottom .tdt-control-copyright {
  display: none !important;
}
@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
/*>=1024的设备*/
@media (min-width: 1100px) {
  body {
    font-size: 20px;
  }
  .container .middle #map .left {
    top: calc(50px + 20%);
  }
  .container .middle #map .right {
    top: calc(50px + 20%);
  }
  .container .middle .left .tip {
    margin-top: 0;
  }
  .container .middle .right {
    max-width: 220px;
  }
  .container .bottom #cityContainer {
    max-height: 120px;
  }
}
/*>=1024的设备*/
@media (min-width: 1280px) {
  body {
    font-size: 22px;
  }
  .container .middle #map .left {
    top: 18%;
  }
  .container .middle #map .right {
    top: 18%;
    right: 10px;
  }
  .container .middle .left .tip {
    margin-top: 5px;
  }
  .container .middle .right {
    max-width: 220px;
  }
  .container .bottom #cityContainer {
    max-height: 120px;
  }
}
@media (min-width: 1366px) {
  body {
    font-size: 24px;
  }
  .container .middle #map .left {
    top: 18%;
  }
  .container .middle #map .right {
    top: 18%;
  }
  .container .middle .left .tip {
    margin-top: 5px;
  }
  .container .middle .right {
    max-width: 220px;
  }
  .container .bottom #cityContainer {
    max-height: 120px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    font-size: 25px;
  }
  .container .middle #map .left {
    top: calc(50px + 20%);
  }
  .container .middle #map .center .tabs .col-md-12 .nav-tabs {
    text-align: center;
    margin: 0 auto;
    border: 0;
    display: inline-block;
  }
  .container .middle #map .center .tabs .col-md-12 .nav-tabs li {
    list-style: none;
    display: inline-block;
  }
  .container .middle #map .center .tabs .col-md-12 .nav-tabs li a .tab {
    font-size: 14px;
    width: 120px;
    height: 60px;
    padding-top: 5px;
  }
  .container .middle #map .center .tips .ull li {
    min-width: 185px;
    font-size: 12px !important;
  }
  .container .middle #map .right {
    top: calc(50px + 20%);
    max-width: 220px;
  }
  .container .middle .left .tip {
    margin-top: 5px;
  }
  .container .middle .right {
    max-width: 250px;
  }
  .container .bottom #cityContainer {
    max-height: 120px;
  }
}
@media screen and (min-width: 1680px) {
  body {
    font-size: 28px;
  }
  .container .middle #map .left {
    top: calc(50px + 20%);
  }
  .container .middle #map .center .tips .ull li {
    font-size: 18px;
  }
  .container .middle #map .right {
    top: calc(50px + 20%);
  }
  .container .middle .left {
    top: 20px;
  }
  .container .middle .left .list {
    width: 60%;
  }
  .container .middle .left .list li a {
    font-size: 16px;
  }
  .container .middle .left .tip {
    font-size: 16px;
    text-align: left;
    font-weight: 450;
  }
  .container .middle .right {
    max-width: 220px;
  }
  .container .bottom #cityContainer {
    max-height: 120px;
  }
}
@media screen and (min-width: 1920px) {
  body {
    font-size: 33px;
  }
  .container .middle #map .left {
    top: 20%;
  }
  .container .middle #map .center .tips .ull li {
    font-size: 18px;
  }
  .container .middle #map .right {
    top: 20%;
    max-width: 220px;
  }
  .container .middle .left {
    top: 20px;
  }
  .container .middle .left .list li a {
    font-size: 16px;
  }
  .container .middle .left .tip {
    font-size: 16px;
    text-align: left;
    font-weight: 450;
  }
  .container .middle .right {
    max-width: 220px;
  }
  .container .bottom #cityContainer {
    height: 120px;
  }
}
