html, body {
    height: 100%;
    position: relative;
}
.link-active {
    color: #fff900;
}
.link-active-bg {
    opacity: 0.8;    
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0; 
    overflow: hidden;
    position: relative;
    .row-head {
        padding-left: 0;
        padding-right: 0;
        .wrapper-head {
            .head {
                background-color: rgba(35, 33, 31, 1);
                .account {
                    height: 69px;
                    display: flex;
                    align-items:center;
                    // vertical-align: middle;
                    // text-align: center;
                    .account-wrapper {
                        flex: 1;
                        // padding: 0 10px;
                        text-align: right;
                    }
                    .login-wrapper {
                        flex: 1;
                        padding-left: 10px; 
                        border-left: 2px solid #ffffff;
                                                
                    }
                    .name-wrapper {
                        flex: 1;
                        text-align: center;
                    }
                    .account-img {
                        width: 24px;
                        height: 24px;
                        // position: absolute;
                        // top: 50%;
                        // right: 75%;
                        // margin-top: -12px; /* 高度的一半 */
                        // margin-left: -14px; /* 宽度的一半 */
                    }
                    .login {
                        width: 24px;
                        height: 24px;
                        // position: absolute;
                        // top: 50%;
                        // right: 15%;
                        // margin-top: -14px; /* 高度的一半 */
                        color: #ffffff;
                    }
                    .name {
                        display: block;
                        font-size: 14px;
                        color: #ffffff;
                        // position: absolute;
                        line-height: 69px;
                        // top: 60%;
                        // left: 30%;
                        // margin-top: -14px; /* 高度的一半 */
                        // margin-left: -20px;
                        // border-right: 2px solid #ffffff;
                    }
                }
                #header {
                    width: 100%;
                    padding-left: 20px;
                    display: inline-block;
                    .title {
                        font-size: 32px;
                        vertical-align: bottom;
                        line-height: 69px;
                        display: inline-block;
                    }
                    .logo {
                        display: inline-block;
                        height: 69px;
                        padding-left: 64px;
                        color: #ffffff;
                        text-decoration: none;
                        line-height: 69px;
                        background-image: url("../img/logo.png");
                        background-repeat: no-repeat;
                        background-position: left;
                        background-size: 10%;
                    }

                }
            }
        }
    }
    .time {
        // padding: 10px;
        padding-bottom: 0;
        background: rgb(19, 22,12);
        filter:alpha(Opacity=80);
        -moz-opacity:0.8;
        opacity: 0.8;
        position: relative;
        .link-img {
            img {
                width: 24px;
                height: 24px;
                 position: absolute;
            top: 50%;
            right: 5%;
            margin-top: -12px;
            }
        }
    }
    .middle {
        padding: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        .left {
            position: absolute;
            left: 0;    
            top: 10%;            
            z-index: 999;  
            padding-left: 10px; 
            ul {
                display: inline-block;                                 
                li {
                    list-style: none;
                    font-size: 12px; 
                    .link{
                            text-align: left;
                            background: rgba(63, 54, 45, 0.8);
                            border-bottom: 1px solid rgb(255, 255,255);
                            a {
                                padding: 15px 10px;                                
                                text-decoration: none;
                                font-size: 12px;
                                color: #ffffff;                                
                                display: block;
                                &:active {
                                    color: #fff900;
                                }
                            }
                        }   
                }
            }
            .tip {
                font-size: 14px; 
                padding: 0;
                margin-top: 10px;
                text-align: left;
                border: 1px solid rgb(137, 191, 213);
                background: rgba(63, 54, 45, 0.8);                
                color: #ffffff;
                .title {
                    color: #ffffff;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .list {
                    display: block;
                    li {
                        .dot {
                            text-align: left;
                            padding: 0 10px 10px 10px;                                
                            color: #ffffff;                               
                            font-size: 12px;
                            .dot-red {
                                display: inline-block;   
                                font-size: 24px;
                                line-height:24px;  
                                color: red;
                            }
                            .dot-orange {
                                color: orange;
                            }
                            .dot-yellow {
                                display: inline-block;   
                                font-size: 24px;
                                line-height:24px;
                                color: yellow;                                
                            }
                            .dot-blue {
                                color: blue;
                            }
                        }
                    }

                }
            }
        }
        .center {
            position: absolute;
            top: 150px;
            left: 0;
            right: 0; 
            z-index: 999;   
            text-align: center;
            margin: auto;
            .tabs {
                .col-md-12 {
                    .nav-tabs {
                        text-align: center;                        
                        margin: 0 auto;
                        border: 0;
                        display: inline-block;
                        li {
                            list-style: none;
                            display: inline-block;
                            font-size: 14px;
                            .link {
                                padding: 0;
                                text-decoration:none;
                                &:active {
                                    color: yellow;
                                }
                                .tab {
                                    color:white;
                                    width:90px;
                                    height:50px;
                                    background-color:black;
                                    opacity:0.7;
                                    border-radius:8px;
                                    img {
                                        display:block;
                                        margin:0 auto;
                                        padding: 2px;
                                    }
                                }
                                .orange {
                                    border:2px solid orange;
                                }
                                .green {
                                    border:2px solid green;                                    
                                }
                                .purple {
                                    border:2px solid purple;                                    
                                }
                                .yellow {
                                    border:2px solid yellow;

                                }
                                .red {
                                    border:2px solid red;                                    
                                }
                                .blue {
                                    border:2px solid blue;                                    
                                }
                            }
                        }
                    }
                }
            }
            .tips {
                .ull {
                    font-size: 0;
                    margin: 0 auto;                    
                    li{
                        text-align: left;
                        font-size: 12px;
                        display: inline-block;
                        padding: 10px;
                        background: linear-gradient(to right, rgba(35, 33, 31, 1), rgba(35, 33, 31, 0.1));
                        color: #ffffff;
                        .purple {
                            color: #ff8300;
                        }
                        .pink {
                            color: #fff900;
                        }
                        .green {
                            color: #f91c0f;
                        }
                        .yellow {
                            color: #42f942;
                        }
                    }
                }
            }
        }
        .right {
            max-width: 300px;            
            position: absolute;
            top: 10%;
            right: 10px;
            z-index: 999;
            padding-top: 5px;
            padding-right: 10px;
            padding-left: 10px;
            padding-bottom: 0;
            background-color: rgba(12, 14, 9, 0.8);
            border: 1px solid rgb(137, 191, 213);
            border-radius: 5px; 
            /*向右*/
            // .a-btn {
            //     position: absolute;
            //     top: 50%;
            //     left: 0;
            //     margin-top: 10px;
            //     padding: 0 10px 0;
            //     // height: 20px;
            // }
            .triangle_border_right{
                width: 0;
                height: 0;
                border-width:12px 0 12px 12px;
                border-style:solid;
                border-color:transparent transparent transparent rgb(171, 168, 168);/*透明 透明 透明 灰*/
                margin:0;
                position: absolute;
                top: 50%;
                left: 10px;
                margin-top: -15px;
                cursor: pointer;
            }
            #mainContainer1 {
                padding: 0;
                border-bottom:1px solid rgb(171, 168, 168);
            }           
            ul {
                display: inline-block;
                li {
                    list-style: none;
                }
            }            
        }
        &:after {
            display: block;
            content: '';
            visibility: hidden;
            height: 0;
            // width: 0;
            clear: both;
        }
    }
    .bottom {
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 0;
        z-index: 999;
        // padding: 10px;
        // padding-top: 0;
        padding-bottom: 10px;
        // width: 100%;
        background: rgba(12, 14, 9, 0.5);
        border: 1px solid rgb(137, 191, 213);    
        border-radius: 5px;
        /*向下*/
        .a-btn-down {
                // position: relative;
                padding: 0 15px 0;
                display: block;
                width: 12px;
                height: 12px;
                margin: 0 auto;
            }
        .triangle_border_down{
            width:0;
            height:0;
            border-width:10px 10px 0;
            border-style:solid;
            border-color:rgb(171, 168, 168) transparent transparent;/*灰 透明 透明 */
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -14px;
            margin-top: 5px;
        }
    }
}
    @media (min-width: 1024px){
        body{font-size: 18px}
    } /*>=1024的设备*/

    @media (min-width: 1100px) {
        body{font-size: 20px;}
         .container {
            .middle {
                #map {
                    .left {
                        top: 10px;
                    }
                    .center {

                    }
                    .right {
                        top: 10px;
                    }
                }
                .left {
                    .tip {
                        margin-top: 0;
                    }
                }
                .right {
                    // max-width: 300px;
                    // min-width: 300px;
                    // max-height: 400px;
                    // min-height: 400px;
                    width: 300px;
                    height: 380px;
                }
            }
            .bottom {
                #cityContainer {
                    max-height: 150px;

                }
            }
        }
    } /*>=1024的设备*/
    @media (min-width: 1280px) {
        body{font-size: 22px;}
         .container {
            .middle {
                #map {
                    .left {
                        top: 5px;
                    }
                    .center {
                    }
                    .right {
                        top: 5px;
                        right: 15px;
                    }
                }
                .left {
                    .tip {
                        margin-top: 5px;
                    }
                }
                .right {
                    max-width: 300px;
                    max-height: 380px;
                }
            }
            .bottom {
                #cityContainer {
                    max-height: 150px;

                }
            }
        }
    } 

    @media (min-width: 1366px) {
        body{font-size: 24px;}
         .container {
            .middle {
                #map {
                    .left {
                        top: 5px;
                    }
                    .center {

                    }
                    .right {
                        top: 5px;
                    }
                }
                .left {
                    .tip {
                        margin-top: 5px;
                    }
                }
                .right {
                    max-width: 300px;
                    max-height: 380px;
                }
            }
            .bottom {
                #cityContainer {
                    max-height: 150px;

                }
            }
        }
    }  

    @media screen and(min-width: 1440px) {
        body{font-size: 25px}
         .container {
            .middle {
                #map {
                    .left {
                        top: 10%;
                    }
                    .center {
                        .tabs {
                            .col-md-12 {
                                .nav-tabs {
                                    text-align: center;                        
                                    margin: 0 auto;
                                    border: 0;
                                    display: inline-block;
                                    li {
                                        list-style: none;
                                        display: inline-block;
                                        a {
                                            .tab {
                                                font-size: 14px;
                                                width:120px;
                                                height:60px;
                                                padding-top: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .tips {
                            .ull {
                                margin-top: 20px;
                                li {
                                    min-width: 185px; 
                                    font-size: 12px !important;                                   
                                }
                            }
                        }
                    }
                    .right {
                        top: 10%;
                    }
                }
                .left {
                    .tip {
                        margin-top: 5px;
                    }
                }
                .right {
                    max-width: 300px;
                    max-height: 380px;
                }
            }
            .bottom {
                #cityContainer {
                    max-height: 150px;

                }
            }
        }
    } 

    @media screen and (min-width: 1680px) {
        body{font-size: 28px;}
             .container {
            .middle {
                #map {
                    .left {
                        top: 10%;
                    }
                    .center {
                        .tips {
                            .ull {
                                li {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .right {
                        top: 10%;
                    }
                }
                .left {
                    top: 20px;
                    .list {
                        li{ 
                            a {
                                font-size: 16px;     
                            }
                        }
                    }
                    .tip {
                        font-size: 16px;
                        text-align: left;
                        font-weight: 450;
                    }
                }
                .right {
                    width: 300px;
                    height: 380px;
                }
            }
            .bottom {
                #cityContainer {
                    max-height: 500px;
                }
            }
        }
    } 
    @media screen and(min-width: 1920px) {
    body{font-size: 33px;}
     .container {
            .middle {
                #map {
                    .left {
                        top: 10%;
                    }
                    .center {
                        .tips {
                            .ull {
                                li {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                    .right {
                        top: 10%;
                    }
                }
                .left {
                    top: 20px;
                    .list {
                        li{ 
                            a {
                                font-size: 16px;     
                            }
                        }
                    }
                    .tip {
                        font-size: 16px;
                        text-align: left;
                        font-weight: 450;
                    }
                }
                .right {
                    width: 300px;
                    height: 380px;
                }
            }
            .bottom {
                #cityContainer {
                    max-height: 500px;
                }
            }
        }
    } 